<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.neu.madcourse.kindkarma">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION-" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_kk"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_kk_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KindKarma"
        tools:ignore="AllowBackup">
        <activity android:name=".CommunitiesActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".CreateRequest"
            android:label="@string/title_activity_create_request"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".ItemRequestActivity" />
        <activity android:name=".ItemPostActivity" />
        <activity android:name=".Profile_Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:configChanges="orientation|screenSize"/>/>
        <activity android:name=".ChatActivity" />
        <activity android:name=".MessagesActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".UserRequestsActivity"
            android:label="Requests"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".FavoriteRequestsActivity"
            android:label="Requests"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".CreateActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".RequestsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".FeedActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />

        <service android:name="edu.neu.madcourse.kindkarma.DemoMessagingService" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false" >
            <intent-filter android:priority="-500" >
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/channel_id" />
    </application>

</manifest>
